body {
    margin: 0;
    padding: 0;
}

* {
	font-family: sans-serif;
}

.fa {
	text-align: center;
}

#map {
	z-index: 0;
    position: absolute;
    top: 10vh;
    bottom: 0;
    width: 100%;
    height: 90%;
}

/* Loading screen styling*/

#overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 59, 59, 0.39);
}

#loading {
    z-index: 500;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -60px;
    height: 120px;
    width: 120px;
}

/* Navbar styling*/

.navbar {
	z-index: 200;
    height: 10vh;
}

.navbar-brand > img {
	height: 10vh;
}

.navbar-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.search-container {
    position: relative;
}

@media (max-width:767px) {
    .navbar-brand {
		display: none;
    }

    .navbar-nav {
		display: none;
    }

	.search-container {
		width: 100%;
	}
}

/* Card styling*/

.card {
    border: none;
    min-width: 20rem;
}

.card-modal {
    min-width: unset;
}

.card-title-container {
	display: flex;
	flex-grow: 1;
}

.card-title-container > .card-title {
	margin-right: auto;
}
		
#btn-next {
	border-radius: 0 0 0.25rem 0.25rem;
}

/* Verification modal styling*/
		
#msg-wrong {
	color: red;
	opacity: 0;
}

/* Dropdown styling*/

#search-dropdown {
    width: inherit;
    overflow-x: hidden;
}

.dropdown-item {
    cursor: pointer;
}
		
.dropdown-item > p {
	color: grey;
	overflow-x: hidden;
}

#item-show-more {
    color: grey;
    text-align: center;
}

/* List display styling */
#btn-list-display {
	bottom: 2.5rem;
}

#btn-helper {
	bottom: 6rem;
}

#btn-show-map {
	bottom: 9.5rem;
}

.bubble {
    display: none;
	left: 2.5rem;
	z-index: 200;
	position: fixed;
	padding: 0 0 0 0;
	height: 3rem;
	width: 3rem;
	line-height: 3rem;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.15s;
}

#list-display {
	display: none;
	z-index:100;
	position: fixed;
	top: 10vh;
	height: 90vh;
	width: 100%;
	overflow-y: scroll;
	padding: .5rem 1rem;
	background-color: rgba(255, 255, 255, 1);
	transition: margin-top ease-in-out 0.5s;
}

/* Tag selection styling*/

.tags-container > div {
	vertical-align: middle;
}
	
.tag {
	display: inline-block;
    position: relative;
    height: 2.4rem;
    min-width: 4rem;
    max-width: 100%;
    padding: 0.2rem 1.75rem;
    margin: 0.25rem 0.1rem;
    text-align: left;
    line-height: 2rem;
    border-radius: 2rem;
    background-color: #28a745;
    color: white;
}

	.tag:before {
		position: absolute;
		top: 1rem;
		left: 0.65rem;
		height: 0.5rem;
		width: 0.5rem;
		border-radius: 50%;
		background-color: white;
		content: '';
	}

	
	.btn-remove-tag  {
		position: absolute;
		top: 0.65rem;
		right: 0.5rem;
		height: 1rem;
		width: 1rem;
		border-radius: 50%;
		font-size: 1rem;
		line-height: 1rem;
		text-align: center;
		color: white;
		cursor: pointer;
	}

.tag .badge {
	font-size: .75rem;
	margin-left: .5rem;
	font-weight: 500;
}

.tag > span {
	display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
}

 .tag-active {
	 background-color: #007bff;
 }
 
 .tag-active .badge {
	 background-color: #28a745;
 }
 
	.tag-active:hover {
		background-color: #004da0 !important;
	}
 
 #tag-selection {
	 max-height: 50vh;
	 overflow-y: scroll;
 }
 
.tags-container-selectable > .tag, #btn-add-tag{
	border: none;
	cursor: pointer;
	transition: background-color ease-in-out 0.25s;

}

	.tags-container-selectable > .tag:hover {
		background-color: #1e8034;
	}
	
	.tags-container-selectable > .tag:active {
		background-color: #276b36;
	}

#btn-add-tag {
	background-color: #007bff;
    user-select: none;
}

	#btn-add-tag:hover {
		background-color: #005fc5;
	}
	
	#btn-add-tag:active {
		background-color: #004fa5;
	}
	
	.tags-container-selectable > .tag:after, #btn-add-tag:before, #btn-add-tag:after {
		display:none;
	}

/* Name card styling*/
.name-card{
	display: inline-block;
	vertical-align: top;
	margin: 1rem 1rem;
}

.name-card {
	display: inline-block;
    height: 3rem;
    min-width: 3rem;
    max-width: 100%;
    margin: 0.25rem 0.1rem;
	padding: .75rem;
	font-size: 1rem;
	text-align: center;
    background-color: rgba(255, 255, 255, 0);
	transition: background-color 0.15s linear;
    color: black;
	cursor: pointer;
}

	.name-card:hover {
		background-color: #cccccc;
	}

.name-card ul {
	display: none;
}

#names-view {
	padding-right: 2rem;
	padding-bottom: 10vh;
}

@media(max-width: 575px) {
	.name-card {
		display: block;
		margin: 0 0;
		border-radius: 0;
		width: 100%;
	}
	
	#names-view {
		padding: 1rem 1rem;
		padding-right: 2rem;
	}
}

/* Divier styling*/

.divider {
	position:relative;
    width: 100%;
    top: 0.75rem;
	color: #dadada;
    border-bottom: 0.5px #dadada solid;
    margin-bottom: 1rem;
}

.divider > span {
	display: inline-block;
}

/* Name scroll styling */

#name-scroll {
    position: fixed;
	text-align: center;
    right: 1rem;
    height: 80vh;
    width: 2rem;	
	color: grey;
	cursor: pointer;
}

	#name-scroll > div:hover{
		color: #dcdcdc;
	}

/* Popup styling */

.mapboxgl-popup {
    padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Noto Serif', serif;
    padding: 0;
    width: 250px;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content head3 {
    background: rgb(61, 59, 59);
    text-align: center;
    color: #fff;
    margin: 0;
    display: block;
    padding: 15px;
    font-weight: 700;
    margin-top: -5px;
}

.mapboxgl-popup-content head4 {
    margin: 0;
    display: block;
    padding: 5px 3px 5px 10px;
    font-weight: 400;
}

.mapboxgl-container {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 3px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: rgb(61, 59, 59);
}

/* Other styling */

#list-hint {
	color: grey;
}

#btn-group-switch-lang {
    display: none;
    position: fixed;
    z-index: 500;
    bottom: 2.5rem;
    right: 2.5rem;
}

.btn-success {
	opacity: 0.8
}

.fa {
    min-width: 1.5rem;
}